*
{
    box-sizing: border-box;
    margin: 0;
    
}
nav
{
   position: sticky;
    padding: 30px;
    color: white;
    width: 100%;
    background-color: black;
    box-shadow: 10px grey;
    font-size: larger;
}
.nav-center
{
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    
    
}
.nav-link
{
    display: flex;
}
.nav-link ul, a
{
    text-decoration: none;
    color: white;
    list-style: none;
    
}
.nav-link ul li:hover
{
    transform: scale(1.3);
    
}
.active
{
    text-decoration: underline;
}
.container
{
    width: 100%;
    height: 100px; 
    position: absolute;
    top: 50%;
    text-align: center;
    
    color: white;
}
.write
{
    background-color: black;
    padding: 20px;
    border-radius: 15px;
}
.btn
{
    margin-top: 20px;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}
.color
{
    color: rgba(255, 255, 255, 0.637);
    
}
